@model StarWarsCore.Models.ThePlayer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <title>RecruitForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>Lad os se en episk kamp!</h4>
        </div>      

        <div class="panel-body">
            <form class="p-a-1" asp-action="RecruitForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Your name:</label>
                    <input asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Your email:</label>
                    <input asp-for="Email" />
                </div>
                <div class="form-group" >
                    <label asp-for="LightSaberColor">Your preferred Weapon?:</label>
                    <input asp-for="LightSaberColor" />
                </div>
                    <div class="form-group">
                        <label>Hvilken side holder du med?</label>
                        <select asp-for="DarkSide">
                            <option value="">Choose an option</option>
                            <option value="true">Jeg hepper på Monsters!</option>
                            <option value="false">Jeg hepper på Hunters!</option>
                        </select>
                    </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Watch the Fight!" id="subbtn" />
                </div>
            </form>
        </div>

        <div id="InfoDiv" class="battledata text-center">
            <p>
                The fight sequence is being developed.. please be patient!
            </p>
        </div>
    </div>
    <script type="text/javascript">
        $("#subbtn").click(function () {
            $(".battledata").fadeIn(4000); // fade in div when submit button is clicked
        });
    </script>
</body>
</html>
